* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */

body {
    background-color: #eeeeee;
}

main {
    width: 70%;
    margin:0 auto;
    margin-top: 40px;
}

.top-button {
    border-radius: 5px;
    padding: 10px;
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
}

.button {
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    color: lightgray;
}

.blue {
    color: white;
    background-color: #45ABEA;
    border: 1px solid #45ABEA;
}

.purple {
    color: white;
    background-color: #9C72E4;
    border: 1px solid #9C72E4;
}

.green {
    color: white;
    background-color: #64C0A9;
    border: 1px solid #64C0A9;
}

.orange {
    color: white;
    background-color: #F29E33;
    border: 1px solid #F29E33;
}

.rose {
    color: white;
    background-color: #D863A1;
    border: 1px solid #D863A1;
}

.yellow {
    color: white;
    background-color: #a6b44a;
    border: 1px solid #a6b44a;
}


/* Fine Common */

.logo-home {
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;    
    background-color: white;    
}

.logo-home img {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}


.logo-text {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

.top-main {
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
    background-color: white;
    padding: 10px 50px 5px 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.principale {
    color: black;
    background-color: white;
    margin-top: 2px;
    padding: 50px;
    border-radius: 10px;
}

.sezioni {
    margin-bottom: 30px;
}

.testo {
    display: block;
    margin: 15px;
}

.symbol {
    font-size: 11px;
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    margin-right: 5px;
    padding: 2px;
}

.red {
    color: red;
    border-color: red;

}

